@tablet-width:             768px;
@desktop-width:            1250px;
@mobile-width-only:        767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@bg-white:                 #ffffff;
@bg-grey--light:           #f1f1f1;

@text-size:                15px;
@line-height:              24px;
@text-color:               #444444;
@text-color--black:        #000000;

@font:                     "Open Sans", "Arial", sans-serif;

@green:                    #56c3b2;
@green--light-63:          #63d1bb;
@green--light-62:          #62d1ba;


@border-color:             #ececec;

@btn-border-color:         #444444;
@btn-bg--ghost:            transparent;
@btn-bg--hover:            #444444;
@active-color:             #cacaca;
