.about {
  .main-inner();

  position: relative;

  margin-bottom: 58px;
  padding-top: 33px;

  background-color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 5px;
  }
}

.about__heading {
  .section-title();

  margin-bottom: 2px;
}

.about__list {
  .ul-unstyled();
}

.about__item {
  position: relative;

  padding-top: 83px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @text-color--black;

  background-repeat: no-repeat;

  &--ecology {
    background-position: 8px 33px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price {
      background-position: 1px 33px;
      background-image: url("../img/icon-feature-money.svg");
  }

  &--like {
    background-position: 8px 36px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade {
    background-position: 4px 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--patriot {
    &::before {
      content: "";
      position: absolute;
      top: 36px;
      left: -5px;

      width: 100px;
      height: 83px;

      background-image: url("../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;
    }
  }

  &--gift {
    background-position: 4px 33px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}
