.about {
  margin-bottom: 58px;
}

.about__inner {
  position: relative;

  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 32px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 320px 7px;
  }
}

.about__heading {
  .section-title--mobile ();

  margin-bottom: 2px;
}

.about__list {
  .ul-unstyled();
}

.about__item {
  position: relative;

  padding-top: 83px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @text-color--black;

  background-repeat: no-repeat;

  &--ecology {
    background-position: 8px 33px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price {
    background-position: 1px 33px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like {
    background-position: 8px 36px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade {
    background-position: 4px 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--patriot {
    &::before {
      content: "";
      position: absolute;
      top: 36px;
      left: -5px;

      width: 100px;
      height: 83px;

      background-image: url("../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;
    }
  }

  &--gift {
    background-position: 4px 33px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: @tablet-width) {
  .about {
    margin-bottom: 56px;
  }

  .about__inner {
    width: 668px;
    padding: 0 50px;
    padding-top: 64px;

    background-color: #ffffff;

    &::before {
      width: 768px;
      height: 17px;

      background-size: 768px 17px;
    }
  }

  .about__heading {
    .section-title--tablet ();

    margin-bottom: 20px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
  }

  .about__item {
    width: 50%;
    margin-bottom: 28px;

    font-size: 20px;
    line-height: 22px;

    &--ecology {
      order: 0;
    }

    &--price {
      order: 2;
    }

    &--like {
      order: 4;
    }

    &--handmade {
      order: 1;
    }

    &--patriot {
      order: 3;
    }

    &--gift {
      order: 5;
    }
  }
}


@media (min-width: @desktop-width) {
  .about {
    margin-bottom: 55px;
  }

  .about__inner {
    width: 700px;
    padding: 0 275px;
    padding-top: 80px;

    &::before {
      left: 100px;

      width: 1050px;
      height: 23px;

      background-size: 1050px 23px;
    }
  }

  .about__heading {
    .section-title--desktop ();

    margin-bottom: 20px;
  }

  .about__item {
    &--price {
      bacround-position: 8px 33px;
    }
  }
}
