.form-order {
  margin-bottom: 55px;
}

.form-order__group {
  margin-bottom: 30px;

  &--area {
    margin-bottom: 14px;
  }
}

.form-order__group-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;

  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  color: @green--light-63;
  text-transform: uppercase;

  &--text {
    margin-bottom: 32px;
  }

  &--tel,
  &--email {
    margin-bottom: 8px;
  }

  &--area {
    margin-bottom: 22px;
  }
}

.form-order__list {
  .ul-unstyled();

  display: flex;
  flex-wrap: wrap;
}

.form-order__field {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-order__label {
  flex-shrink: 0;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: @text-color--black;

  cursor: pointer;

  &--radio {
    display: flex;
    align-items: center;

    &::before {
      content: "";

      flex: none;
      width: 36px;
      height: 36px;
      margin-right: 22px;

      background-color: #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 0 2px @btn-border-color;
    }
  }

  &--checkbox {
    position: relative;

    display: flex;
    align-items: center;

    &::before {
      content: "";

      flex: none;
      width: 36px;
      height: 36px;
      margin-right: 30px;

      background-color: transparent;
      border: 2px solid @btn-border-color;
    }
  }

  &--tel,
  &--email,
  &--area {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 700;
    color: @green--light-63;
    text-transform: uppercase;
  }
}

.form-order__label--radio:hover::before,
.form-order__label--radio:focus::before {
  box-shadow: 0 0 0 2px @green--light-62;
}

.form-order__label--radio:active::before {
  width: 16px;
  height: 16px;

  background-color: @green--light-62;
  border: 10px solid @bg-white;
  border-radius: 50%;
  box-shadow: 0 0 0 2px @active-color;
}

.form-order__radio:checked ~ .form-order__label--radio::before {
  width: 16px;
  height: 16px;

  background-color: @green--light-62;
  border: 10px solid @bg-white;
  border-radius: 50%;
  box-shadow: 0 0 0 2px @btn-border-color;
}

.form-order__radio:checked ~ .form-order__label--radio:hover::before,
.form-order__radio:checked ~ .form-order__label--radio:focus::before {
  box-shadow: 0 0 0 2px @green--light-62;
}

.form-order__radio:checked ~ .form-order__label--radio:active::before {
  width: 36px;
  height: 36px;

  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 2px @active-color;
}

.form-order__checkbox:checked ~ .form-order__label--checkbox::after,
.form-order__label--checkbox:active::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 12px;

  flex: none;
  width: 21px;
  height: 10px;
  border: 2px solid #000000;
  border-top-style: none;
  border-right-style: none;

  transform: translateY(-50%) rotate(-45deg);
  transform-origin: left;
}

.form-order__label--checkbox:hover::before,
.form-order__label--checkbox:focus::before {
  border-color: @green--light-62;
}

.form-order__label--checkbox:active::before {
  border-color: @active-color;
}

.form-order__checkbox:checked ~ .form-order__label--checkbox:active::before {
  width: 36px;
  height: 36px;
  margin-right: 30px;

  background-color: transparent;
  border: 2px solid @active-color;
}

.form-order__checkbox:checked ~ .form-order__label--checkbox:active::after {
  content: none;
}

.form-order__input {
  box-sizing: border-box;

  width: 260px;
  padding: 16px 0;

  font: inherit;
  font-size: 17px;
  line-height: 1.2;
  color:@text-color;

  background-color: transparent;
  border: 0;
  border-bottom: 2px solid @btn-border-color;

  &:placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover,
  &:focus {
    border-color: @green--light-62;
  }

  &:active {
    &:placeholder {
      color: rgba(68, 68, 68, 1.0);
    }
  }

  &--area {
  padding: 15px;

  border: 2px solid @btn-border-color;
  }
}

.form-order__tip {
  display: block;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
}

.form-order__btn {
  width: 260px;
}

@media (max-width: @mobile-width-only) {

  .form-order__group-name::after {
    content: "";

    width: 198px;
    height: 1px;
    margin-left: 23px;

    background-color: @green--light-62;
  }
}

@media (min-width: @tablet-width) {

  .form-order {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
  }

  .form-order__group {
    display: flex;
    align-items: baseline;

    border: none;

    &--radio {
      .main-inner--tablet ();

      align-items: flex-start;

      width: 100%;
      margin-bottom: 50px;
    }

    &--checkbox {
      align-items: flex-start;

      padding: 50px;
      padding-bottom: 25px;

      background-color: @bg-grey--light;
    }

    &--text {
      .main-inner--tablet ();

      padding-top: 65px;
      padding-bottom: 50px;
    }

    &--tel {
      flex-wrap: wrap;

      width: 100%;
      padding: 50px;

      background-color: @bg-grey--light;
    }

    &--area {
      .main-inner--tablet ();

      width: 100%;
      padding-top: 50px;
      padding-bottom: 53px;
    }

    &--btn {
      .main-inner--tablet ();

      width: 100%;
    }
  }

  .form-order__group-name {
    width: 25%;
    padding-right: 0;

    &--radio {
      padding-top: 8px;
    }

    &--checkbox {
      padding-top: 9px;
    }
  }

  .form-order__list {
    width: 75%;
  }

  .form-order__field {
    flex-direction: row;
    align-items: baseline;

    &--checkbox {
      width: 50%;
    }
  }

  .form-order__label {

    &--text {
      padding-right: 25px;
    }
  }

  .form-order__input {
    padding-right: 15px;
    padding-left: 15px;

    &--text {
      width: 100%;
    }

    &--tel {
      width: 75%;
      margin-bottom: 25px;
    }

    &--email {
      width: 75%;
    }

    &--area {
      width: 75%;
    }
  }

  .form-order__tip {
    order: 1;
    margin-left: auto;
  }

  .form-order__btn {
    width: 30%;
  }
}

@media (min-width: @desktop-width) {

}
