.main-nav {
  position: relative;

  font-weight: bold;
}

.main-nav__toggle {
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 2;

  width: 22px;
  height: 23px;

  font-size: 0;

  background-color: transparent;
  cursor: pointer;

  border: none;

  &:hover {

  }

  &:active {

  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0px;

  width: 20px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000,
              0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle{

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -3px;

    width: 27px;
    height: 2px;

    background-color: #000000;
    transform: translateY(-50%);
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  &--search,
  &--to-cart {
    position: relative;
  }
}

.main-nav__item a[href] {
  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__link {
    position: relative;

    display: block;
    margin-bottom: -1px;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 76px;

    font-size: 17px;
    line-height: 24px;
    color: @text-color--black;
    text-decoration: none;

    background-color: #ffffff;
    border: 1px solid #ececec;

    &--logo {
      padding: 0;
      padding-top: 21px;
      padding-bottom: 17px;

      text-align: center;
    }
}

.main-nav--closed .main-nav__item {
  display: none;

  &--active {
    display: block;
  }
}


