.offers-list {
  .ul-unstyled();

  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;
}

.offers-list__item {
  display: flex;

  width: 50%;
}

.offers-list__link {
  position: relative;

  display: block;
  width: 100%;
  padding-top: 26px;
  padding-right: 160px;
  padding-bottom: 29px;
  padding-left: 30px;

  font-size: 19px;
  line-height: @line-height;
  font-weight: 700;
  color: #ffffff;

  background-repeat: no-repeat;

  text-decoration: none;

  &:hover,
  &:focus {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 #63d1bb;
  }

  &:active {
    color: rgba(255,255,255,.3);
  }

  &--interior {
    background-color: #63d1bb;
    background-image: url("../img/icon-interior.svg");
    background-position: 243px 24px;

    &:hover,
    &:focus {
      background-color: #59d5bc;
      box-shadow: 0 5px 0 0 #63d1bb;
    }
  }

  &--toys {
    background-color: #56c3b2;
    background-image: url("../img/icon-toy.svg");
    background-position: 235px 24px;

    &:hover,
    &:focus {
      box-shadow: 0 5px 0 0 #56c3b2;
    }
  }
}


@media (max-width: @mobile-width-only) {
  .offers-list__item {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .offers-list__link {
    padding-top: 30px;
    padding-right: 167px;
    padding-bottom: 30px;
    padding-left: 36px;


    font-size: 20px;
    line-height: 30px;

    &--interior {
      background-position: 258px 31px;
    }

    &--toys {
      background-position: 240px 32px;
    }
  }
}

@media (min-width: @desktop-width) {
  .offers-list__link {
    padding-right: 350px;
  }
}
