.offers-list {
  .ul-unstyled();

  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 0 auto;
}

.offers-list__item {
  display: flex;

  width: 50%;
}

.offers-list__link {
  position: relative;

  display: block;
  width: 100%;
  padding-top: 26px;
  padding-right: 160px;
  padding-bottom: 29px;
  padding-left: 30px;

  font-size: 19px;
  line-height: @line-height;
  font-weight: 700;
  color: #ffffff;

  background-repeat: no-repeat;

  text-decoration: none;

  &--interior {
    background-color: #63d1bb;

    &:hover,
    &:focus {
      transform: translateY(-5px);
      background-color: #59d5bc;
      box-shadow: 0 5px 0 0 #59d5bc;
      outline: none;

      .offers-list__icon {
        fill: rgba(20, 144, 128, 0.7);
      }
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      .offers-list__icon {
        fill: rgba(20, 144, 128, 0.3);
      }
    }
  }

  &--toys {
    background-color: #56c3b2;

    &:hover,
    &:focus {
      transform: translateY(-5px);
      background-color: #46c1ae;
      box-shadow: 0 5px 0 0 #46c1ae;
      outline: none;

      .offers-list__icon {
        fill: rgba(20, 144, 128, 0.7);
      }
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      .offers-list__icon {
        fill: rgba(20, 144, 128, 0.3);
      }
    }
  }
}

.offers-list__icon {
  position: absolute;

  top: 50%;
  right: 36px;

  transform: translateY(-50%);

  fill: rgba(20, 144, 128, 0.5);

  &--interior {
    width: 40px;
    height: 62px;
  }

  &--toy {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: @mobile-width-only) {
  .offers-list__item {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .offers-list__link {
    padding-top: 30px;
    padding-right: 167px;
    padding-bottom: 30px;
    padding-left: 36px;


    font-size: 20px;
    line-height: 30px;

    &--interior {
    }

    &--toys {
    }
  }
}

@media (min-width: @desktop-width) {
  .offers-list__link {
    padding-right: 350px;
  }
}
