.order {
  padding-top: 24px;
}

.order__inner {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
}

.order__tip {
  width: 260px;
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  color: @text-color;
}

@media (min-width: @tablet-width) {

  .order {
    padding-top: 75px;
  }

  .order__inner {
    width: 668px;
    margin-bottom: 55px;
    padding: 0 50px;
  }

  .order__tip {
    width: auto;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .order {
    padding-top: 125px;
  }

  .order__inner {
    width: 700px;
    padding: 0 175px;
  }

  .order__tip {
    width: auto;

    font-size: 17px;
    line-height: 30px;
  }
}
