.page-header {
  .container();

  background-color: @bg-grey--light;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center c;
}

.page-header__slogan {
  margin: 0;
  margin-top: 60px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @text-color--black;
}
