.page-heading {
  .container();

  background-color: @bg-grey--light;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -18px;
  }

  &--inner {
    background-color: @bg-grey--light;
  }
}

.page-heading__slogan {
  margin: 0;
  margin-bottom: 121px;
  padding-top: 71px;
  padding-right: 38px;
  padding-left: 38px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @text-color--black;

  &--inner {
    margin-bottom: 30px;
    padding-bottom: 71px;
  }
}


