.promo {
  position: relative;

  margin-bottom: 35px;

  color: @text-color;
  background-color: @bg-white;
}

.promo__title {
  .section-title--mobile ();
}

.promo__flag {
  margin: 0;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @green--light-63;
  text-transform: uppercase;
}

.promo__heading {
  margin-bottom: 28px;
}

.promo__container-text {
  margin-bottom: 28px;
}

.promo__descr {
  margin: 0;
  margin-bottom: 28px;
}

.promo__specification {
  width: 100%;

  line-height: 20px;

  border-collapse: collapse;
}

.promo__specification tr {
  border-bottom: 1px solid @border-color;
}

.promo__field,
.promo__value  {
  padding: 5px 0;

  vertical-align: top;
  text-align: left;
}

.promo__field {
  width: 32%;

  font-weight: 400;
}

.promo__value {
  width: 68%;
}

.promo__image {
  margin: 0;
  padding-bottom: 126px;
}

.promo__image img {
  display: block;
}

.promo__price-container {
  position: absolute;
  bottom: 0;

  width: 260px;
}

.promo__price {
  margin: 0;
  padding: 25px 0;

  font-size: 17px;
  line-height: @line-height;
  font-weight: 700;
  text-align: center;
}

@media (max-width: @mobile-width-only) {
  .promo {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 0 30px;
    padding-top: 30px;
  }
}

@media (min-width: @tablet-width) {

  .promo {
    display: flex;
    flex-wrap: wrap;

    width: 668px;
    margin: 0 auto;
    margin-bottom: 55px;
    padding-top: 50px;
  }

  .promo__heading {
    display: flex;
    align-items: flex-end;

    width: 100%;
    margin-bottom: 55px;
  }

  .promo__title {
    .section-title--tablet ();
  }

  .promo__flag {
    width: 126px;
    margin-left: auto;

    text-align: center;
  }

  .promo__inner {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 290px;
    padding-right: 44px ;
  }

  .promo__container-text {
    width: 100%;
    margin-bottom: 23px;
  }

  .promo__descr {
    min-width: 0;
    word-wrap: break-word;
    margin-top: -8px;
    margin-bottom: 32px;

    font-size: 17px;
    line-height: 30px;
  }

  .promo__specification {
    width: 100%;

    font-size: 15px;
    line-height: 30px;
  }

  .promo__price-container {
    position: inherit;

    width: 100%;
  }

  .promo__price {
    width: 100%;
    padding: 32px 0;

    font-size: 20px;
  }

  .promo__to-order {
    width: auto;
  }

  .promo__image {
    width: 50%;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: 1050px;
    margin-bottom: 73px;
    padding-top: 125px;
  }

  .promo__heading {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;

    min-width: 0;
    word-wrap: break-word
  }

  .promo__flag {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 175px;
    margin-left: 0;
    padding-top: 6px;
    padding-right: 55px;
    padding-left: 48px;
  }

  .promo__title {
    .section-title--desktop ();
  }

  .promo__inner {
    padding-right: 60px;
    margin-left: 175px;
  }

  .promo__container-text {
    width: 100%;
    margin-bottom: 76px;
  }

  .promo__descr {
    margin-bottom: 47px;
  }

  .promo__image {
    width: 525px;
    height: 636px;
    margin-top: -168px;
  }
}
