.promo {
  color: @text-color;
  background-color: @bg-white;
}

.promo__title {
  .section-title--mobile ();
}

br {
  display: none;
}

.promo__flag {
  margin: 0;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @green--light;
  text-transform: uppercase;
}

.promo__heading {
  margin-bottom: 28px;
}

.promo__descr {
  margin: 0;
  margin-bottom: 28px;
}

.promo__specification {
  width: 100%;
  margin-bottom: 28px;

  line-height: 20px;

  border-collapse: collapse;
}

.promo__specification tr {
  border-bottom: 1px solid @border-color;
}

.promo__field,
.promo__value  {
  padding: 8px 0;

  vertical-align: top;
  text-align: left;
}

.promo__field {
  width: 37%;

  font-weight: 400;
}

.promo__value {
  width: 63%;
}

.promo__image {
  margin: 0;
}

.promo__image img {
  display: block;
}

.promo__price {
  margin: 0;
  padding: 25px 0;

  font-size: 17px;
  line-height: @line-height;
  font-weight: 700;
  text-align: center;
}

@media (max-width: @mobile-width-only) {
  .promo {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding: 0 30px;
    padding-top: 30px;
  }
}

@media (min-width: @tablet-width) {

  .promo {
    display: flex;
    flex-wrap: wrap;

    width: 668px;
    margin: 0 auto;
    margin-bottom: 55px;
    padding: 0 50px;
    padding-top: 50px;
  }

  .promo__heading {
    display: flex;
    align-items: flex-end;

    width: 100%;
    margin-bottom: 55px;
  }

  .promo__title {
    .section-title--tablet ();
  }

  .promo__flag {
    width: 126px;
    margin-left: auto;

    text-align: center;
  }

  .promo__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .promo__container-text {
    width: 43%;
    padding-right: 7%;
  }

  .promo__descr {
    margin-top: -8px;
    margin-bottom: 45px;

    font-size: 17px;
    line-height: 30px;
  }

  br {
  display: block;
}

  .promo__image {
    width: 334px;
    height: 405px;
  }

  .promo__specification {
    width: 100%;
  }

  .promo__price-container {
    width: 43%;
    margin-top: -140px;
  }

  .promo__price {
    width: 100%;
    padding: 32px 0;

    font-size: 20px;
  }

  .promo__to-order {
    width: auto;
  }
}
