.search {
  display: flex;

  border-bottom: 1px solid @border-color;
}

.search__submit {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  width: 76px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: @bg-white;
  border: none;
  border-radius: 0;
  outline: 0;
  cursor: pointer;
}

.search__submit:hover .search__fill,
.search__submit:focus .search__fill {
  fill: #63d1bb;
}

.search__submit:active .search__fill {
  fill: #d0f1ea;
}

.search__input {
  box-sizing: border-box;

  width: 244px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 28px;

  font: inherit;
  font-size: 17px;
  line-height: 24px;
  color: @text-color--black;

  border: none;
  border-radius: 0;
  outline: 0;
  cursor: pointer;

  &::placeholder {
    color: rgba(0, 0, 0, 1);
  }
}

.search__input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__input:focus::placeholder {
  color: transparent;
}

@media (min-width: @tablet-width) {
  .search {
    width: auto;
    border: none;
  }

  .search__submit {
    width: 84px;
    padding-top: 37px;
    padding-bottom: 34px;
  }

  .search__input {
    width: 0;
    padding: 0;
  }
}
