.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.social__list {
  .ul-unstyled();

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

@media (min-width: @tablet-width) {

  .social {
    justify-content: center;
  }

  .social__list {
    width: auto;
  }

  .social__link--facebook {
    margin: 0 30px;
  }
}
