.to-cart svg {
  position: absolute;
  top: 50%;
  left: 30px;

  width: 21px;
  height: 20px;

  transform: translateY(-50%);
  opacity: 0.2;
}

.to-cart:hover .to-cart__fill,
.to-cart:focus .to-cart__fill  {
  fill: #63d1bb;
}

.to-cart:active .to-cart__fill {
  fill: #d0f1ea;
}
